input.rf-input {
  padding: 6px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}

input.rf-input:not([type="checkbox"]):focus {
  border-color: #40a9ff;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  outline: none;
}

input.rf-input[aria-invalid="true"],
input.rf-input[aria-invalid="true"]:focus {
  border-color: #ff4d4f;
  box-shadow: 0 0 0 2px rgba(255, 77, 79, 0.2);
}

button.rf-button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
